@charset "UTF-8";
html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

.heading {
  text-align: center;
  padding: 20px 0 10px;
}

.header {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /*logo と nav を横並びに*/
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  padding: 0 24px;
}

.nav-item {
  display: inline-block;
  /*nav-itemを横並びに*/
  padding: 0 12px;
}

.nav-item a {
  text-decoration: none;
  color: #000;
}

.nav-item a:hover {
  color: #fff;
  opacity: 0.8;
}

.top {
  background-image: url("../img/sunset.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 700px;
}

.about {
  padding: 0 150px 80px;
}

.about-text {
  writing-mode: vertical-rl;
  display: inline-block;
  float: right;
}

@media screen and (max-width: 414px) {
  .about-text {
    float: initial;
    writing-mode: horizontal-tb;
  }
}

.diary {
  padding: 0 150px 80px;
}

.diary-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media screen and (max-width: 414px) {
  .diary-wrapper {
    flex-direction: column;
    justify-content: initial;
  }
}

.diary-box {
  position: relative;
  width: 30%;
}

@media screen and (max-width: 414px) {
  .diary-box {
    width: 100%;
  }
}

.diary-image {
  width: 100%;
  height: 70%;
}

.diary-country {
  position: absolute;
  display: inline-block;
  bottom: 0;
  left: 0;
}

.diary-date {
  position: absolute;
  display: inline-block;
  bottom: 0;
  right: 0;
}

.contact {
  padding: 0 150px 80px;
}

.footer {
  text-align: center;
  background-color: lightgray;
  height: 80px;
  line-height: 80px;
}

.footer p {
  margin: 0;
}
