@charset "UTF-8";
html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
}

.container {
  padding: 0 150px 80px;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0 50px 80px;
  }
}

@media screen and (max-width: 414px) {
  .container {
    padding: 0 30px 80px;
  }
}

*, *::before, *::after {
  box-sizing: border-box;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

a, a:visited {
  text-decoration: none;
}

.heading {
  text-align: center;
  padding: 50px 0 30px;
  margin: 0;
}

.header {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /*logo と nav を横並びに*/
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  padding: 60px 100px;
}

.logo a:hover {
  opacity: 0.5;
}

.nav-item {
  display: inline-block;
  /*nav-itemを横並びに*/
  padding: 0 15px;
}

.nav-item a {
  text-decoration: none;
  color: #fff;
}

.nav-item a:hover {
  color: #fff;
  opacity: 0.8;
}

.top {
  background-image: url("../img/sea.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 700px;
}

.about {
  background-color: lightgray;
}

.about-text {
  writing-mode: vertical-rl;
  display: inline-block;
  float: right;
}

@media screen and (max-width: 768px) {
  .about-text {
    float: initial;
    writing-mode: horizontal-tb;
  }
}

.diary-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media screen and (max-width: 414px) {
  .diary-wrapper {
    flex-direction: column;
    justify-content: initial;
  }
}

.diary-box {
  position: relative;
  width: 23%;
}

@media screen and (max-width: 768px) {
  .diary-box {
    width: 45%;
  }
}

@media screen and (max-width: 414px) {
  .diary-box {
    width: 100%;
  }
}

.diary-image {
  width: 100%;
  height: 70%;
}

.diary-country {
  position: absolute;
  display: inline-block;
  bottom: 0;
  left: 0;
}

.diary-date {
  position: absolute;
  display: inline-block;
  bottom: 0;
  right: 0;
}

.contact {
  background-color: lightgray;
}

.contact-form input[type=text],
.contact-form textarea,
.contact-form input[type=submit] {
  display: block;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 15px;
  padding: 10px;
}

.contact-form textarea {
  height: 200px;
  margin-bottom: 30px;
}

.contact-form input[type=submit] {
  width: 200px;
  border-radius: 5px;
}

.contact-form input[type=text]:focus,
.contact-form textarea:focus {
  background-color: blue;
}

.contact-form input[type=submit]:hover {
  background-color: blue;
}

.footer {
  text-align: center;
  background-color: lightgray;
  height: 80px;
  line-height: 80px;
  background-color: gray;
}

.footer p {
  margin: 0;
}
