/* ==================================
* dairy
*=================================== */
.top {

  &-diary {
    background: url('../../dist/img/beach.jpg') center;
    background-size: cover;
    width: 100%;
    height: 300px;
  }
}