// ==================================
// base
// ==================================
html {
  font-size: 62.5%;
}
body {
  font-family: 'Montserrat',sans-serif ;
  color: #000;
  font-size: 1.4rem;
  text-align: center;
  letter-spacing: 2px;
}
.container {
  padding: 0 150px 80px;
  @include tb() {
  padding: 0 50px 80px;
  }
  @include mq() {
    padding: 0 30px 80px;
  }
}
*,*::before,*::after {
  box-sizing: border-box;
}
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}
a ,a:visited{
  text-decoration: none;
}