/* ==================================
* about
*=================================== */
.top {

  &-about{
    background: url('../../img/sunset.jpg') center;
    background-size: cover;
    width: 100%;
    height: 300px;
  }
}
.about {

  &-content {

    a {
      color: red;
    }
    a:hover{
      opacity: 0.5;
    }
  }
  &-image {
    background: url("../../img/lake.jpg") no-repeat;
    width: 300px;
    height: 300px;
    margin: 0 auto 50px;
    @include mq() {
      width: 100%;
    height: 200px;
    }
  }
}