/* ==================================
* index
*=================================== */
// ==================================
// TOP
// ==================================
.bg-switcher{
    width: 100%;
    height: 90vh;
    background-position: center center;
    background-size: cover;
}
// ==================================
// ABOUT 
// ==================================
.about {
    // padding: 0 150px 80px;
    background-color: #F6F6F6;

  // &-wrapper {
  //   display: flex;
  //   flex-direction: row-reverse;
  //   justify-content: center;
  //   @include tb() {
  //     display: block;
  //     writing-mode: horizontal-tb;
  //   }
  // }
  &-text {
    font-size: 1.5em;
    line-height: 1.5em;
    @include mq() {
    font-size: 1.0em;
    }
  //   writing-mode: vertical-rl;
  //   letter-spacing: 5px;
  //   text-align: initial;
  //   @include tb() {
  //     writing-mode: horizontal-tb;
  //   }
  }
}
// ==================================
// TRABEL DIARY
// ==================================
.diary {
    // padding: 0 150px 80px;

  &-wrapper {
    width: 100%;
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @include mq() {
      flex-direction: column;
      justify-content: initial;
    }
  }
  &-box {
    position: relative;
    width: 22%;
    height: auto;
    margin-bottom: 10px;
      a {
        display: block;
      }
      a:hover{
        opacity: 0.8;
      }
    @include tb() {
      width: 45%;
    }
    @include mq() {
      width: 100%;
    }
  }
  &-image {
    display: block;
    width: 100%;
    height: auto;
  }
  &-country {
    position: absolute;
    top: 38%;
    left: 50%;
	  transform : translate(-50%, -50%);
    font-size: 2.0rem;
    color: salmon;
  }
  &-date {

  }
  &-title {
    margin: 10px 0px;
  }
  &-detail {
    text-align: center;
  }
}
// ==================================
// CONTACT 
// ==================================
.contact {
  // padding: 0 150px 80px;
  background-color: #F6F6F6;
}
.contact-form {

}
%formBase {
  display: block;
  width: 80%;
  max-width: 800px;
  margin:0 auto;
  margin-bottom: 15px;
  padding: 10px;
  outline: none;
  border-radius: 5px;
}
.contact-form input[type=text],
.contact-form textarea,
.contact-form input[type=submit] {
 @extend %formBase;  
}
.contact-form textarea {
  height: 200px;
  margin-bottom: 30px;
}
.contact-form input[type=submit] {
  cursor: pointer;
  width: 200px;
}
.contact-form input[type=text]:focus,
.contact-form textarea:focus {
  box-shadow: 0 0 10px #70bdd3 inset;
}
.contact-form input[type=submit]:hover {
  opacity: 0.5;
}
// ==================================
//  scroll
// ==================================
.back-to-top {
    background-color: rgb(240, 240, 240);
    border-width: 0;
    cursor: pointer;
    display: block;
    padding: 16px;
    margin: 0 auto;
    border-radius: 50%;
    outline: none;
    margin-bottom: 50px;
}
.back-to-top:hover {
    box-shadow: 5px 5px 5px rgba(0,0,0,0.20);
    transform: translateY(-4px);
}
.no-js .back-to-top {
    display: none;
}