
// ==============================
//  variables
// ==============================
$font-color_default: #777;
$font-color_date: #e37b89; // TODO:リファクタ必要
$color_corp: #e3a8b1;
$font-color_sub1: #b6a489;

$site-width: 1024px;

$font-size_s: 12px;
$font-size_m: 14px;
$font-size_default: 16px;
$font-size_l: 18px;
$font-size_xl: 24px;
$font-size_xxl: 30px;
$font-size_3l: 38px;


$space_s: 5px;
$space_m: 10px;
$space_l: 15px;
$space_xl: 20px;
$space_xxl: 30px;
$space_3l: 40px;

$font-family_corp: 'Amatic SC', cursive;

// マップ型変数を使うと便利
$breakpoints: (
  'sm': 'screen and (max-width: 414px)',
  'md': 'screen and (max-width: 768px)',
  // 'lg': 'screen and (max-width: 1000px)',
  // 'xl': 'screen and (max-width: 1200px)',
) !default;

// ==============================
// mixin
// ==============================
//415px ~ 768pxまで
@mixin tb($breakpoint: md) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}
//0 ~ 414pxまで
@mixin mq($breakpoint: sm) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

// ==================================
// base
// ==================================
html {
  font-size: 62.5%;
}
body {
  font-family: 'Montserrat',sans-serif ;
  color: #000;
  font-size: 1.4rem;
  text-align: center;
  letter-spacing: 2px;
}
.container {
  padding: 0 150px 80px;
  @include tb() {
  padding: 0 50px 80px;
  }
  @include mq() {
    padding: 0 30px 80px;
  }
}
*,*::before,*::after {
  box-sizing: border-box;
}
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}
a ,a:visited{
  text-decoration: none;
}
// ==================================
// parts
// ==================================
.heading {
  display: inline-block;
  position: relative;
  padding-bottom: 10px;
  margin: 50px 0;
  font-size: 3.0rem;
  letter-spacing: 5px;
  border-bottom: 1px solid black;
  @include mq() {
    padding: 40px 0;
  }
}
.heading::before,
.heading::after {
  position: absolute;
  top: 100%;
  left:50%;
  transform:translateX(-50%);
  content: '';
  border: 10px solid transparent;
}
.heading::before {
  border-top: 10px solid #000;
}
.heading::after {
  margin-top: -1px;
   border-top: 10px solid #fff;
}

.btn {
  display: inline-block;
  color: #000;
  padding: 15px;
  width: 150px;
  border-radius: 5px;
}
.btn:hover {
  opacity: 0.8;
}
.btn-more::after{
  content: '\f054';
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  padding-left: 20px;
}
.btn-more {
  background-color: #70bdd3;
}
// ==================================
// Header
// ==================================
.header {
  position: absolute;
  // position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between; /*logo と nav を横並びに*/
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 80px;
  padding: 60px 100px;
  @include tb {
    display: block;
    padding: 0;
  }
}
// sticky-header
.sticky {
   &-header {
      position: fixed;
      width: 100%;
      height: 50px;
      z-index: 100;
      transition: 0.25s;
      background-color: rgba(0,0,0,0.60);
      //なぜか100px指定されている
      margin-left: -100px;
      @include tb() {
        display: none;
      }
   }
    &-nav {

    }
    &-menu {

    }
    &-item {
      display: inline-block;
      margin: 0 20px;
      
      & a {
        color: #fff;
      }
      & a:hover {
        opacity: 0.5;
      }
    }
}
// /*sticky header*/
// .header-clone {
//     background-color: rgb(0, 0, 0);
//     opacity: 0.9;
//     position: fixed;
//     top: -15px;
//     width: 100%;
//     z-index: 30;
//     -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
//             box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
//     -webkit-transition: top 0.25s;
//             transition: top 0.25s;
// }
// .header-clone.visible {
//     top: 0;
// }
// .header-clone:hover {
//     opacity: 1;
// }
// .header-clone .site-logo {
//     margin-left: 8px;
// }
// .header-clone .site-logo a {
//     display: block;
//     width: 143px;
//     height: 32px;
//     overflow: hidden;
// }
// .header-clone .site-logo a:before {
//     display: inline-block;
// }
// .header-clone .nav {
//     font-size: 14px;
//     line-height: 35px;
// }
// .header-clone .nav a {
//     color: rgb(128, 128, 128);
// }

.logo {
  @include tb() {
       display: none;
  }
}
.logo a{
  color: #fff;
}
.logo a:hover{
  opacity: 0.5; 
}
.nav {

    @include tb() {
      -webkit-transform: translate(-50%, -50%);
      background: #fff;
      display: none;
      height: auto;
      left: 50%;
      position: fixed;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 80%;
      z-index: 100;
    }
    &-menu {

      @include tb() {
        padding: 0;
      }
    }
    &-item {
      display: inline-block; /*nav-itemを横並びに*/
      padding: 0 15px;
      @include tb() {
        display: block;
        padding: 10px 0px ;
      }
    }
    &-item a {
      color: #fff;
      transition-duration: 250ms;
      @include tb() {
        display: block;
        color: #000;
        transition-duration: initial;
        border-bottom: 2px solid #000;
        padding: 10px 0px ;
      }
    }
    &-item a:hover {
      padding-bottom: 10px;
      border-bottom: 2px solid #fff;
      @include tb() {
        padding-bottom: 0;
        border-bottom: 2px solid #000;
      }
    }
}

// click時の背景食
#modal-overlay {
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  height: 120%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}

//hamberger menu
.icon {

  &-wrapper {
    text-align: right;
  }
  &-hamburger {
    border: 1px solid #ccc;
    cursor: pointer;
    height: 50px;
    position: relative;
    width: 50px;
    display: none;
    margin-bottom: 0.4em;
    margin: 10px 10px 0px;
    @include tb() {
      display: inline-block;
    }

    & span {
      background: #cccccc;
      display: block;
      height: 16%;
      left: 50%;
      margin: -8% 0 0 -42%;
      position: absolute;
      top: 50%;
      width: 84%;
        &::before,
        &::after {
          background: #cccccc;
          content: "";
          display: block;
          height: 100%;
          left: 50%;
          top: 50%;
          right: 0;
          margin: -8% 0 0 -50%;
          position: absolute;
          width: 100%;
        }
    }
  }
}
.icon-hamburger span::before {
  margin-top: -38%;
}

.icon-hamburger span::after {
  margin-top: 19%;
}
// ==================================
// TOP
// ==================================
.bg-switcher{
    width: 100%;
    // height:1000px;
    height: 600px;
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bg{
    color: white;
    font-size: 100px;
    font-weight: bold;
    text-align: center;
}
// ==================================
// ABOUT 
// ==================================
.about {
    // padding: 0 150px 80px;
    background-color: #F6F6F6;

  &-wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    @include tb() {
      display: block;
      writing-mode: horizontal-tb;
    }
  }
  &-text {
    writing-mode: vertical-rl;
    letter-spacing: 5px;
    text-align: initial;
    @include tb() {
      writing-mode: horizontal-tb;
    }
  }
}
// ==================================
// TRABEL DIARY
// ==================================
.diary {
    // padding: 0 150px 80px;

  &-wrapper {
    width: 100%;
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @include mq() {
      flex-direction: column;
      justify-content: initial;
    }
  }
  &-box {
    position: relative;
    width: 22%;
    height: auto;
    margin-bottom: 10px;
      a {
        display: block;
      }
      a:hover{
        opacity: 0.8;
      }
    @include tb() {
      width: 45%;
    }
    @include mq() {
      width: 100%;
    }
  }
  &-image {
    display: block;
    width: 100%;
    height: auto;
  }
  &-country {
    position: absolute;
    top: 38%;
    left: 50%;
	  transform : translate(-50%, -50%);
    font-size: 2.0rem;
    color: salmon;
  }
  &-date {

  }
  &-title {
    margin: 10px 0px;
  }
  &-detail {
    text-align: center;
  }
}
// ==================================
// CONTACT 
// ==================================
.contact {
  // padding: 0 150px 80px;
  background-color: #F6F6F6;
}
.contact-form {

}
%formBase {
  display: block;
  width: 80%;
  max-width: 800px;
  margin:0 auto;
  margin-bottom: 15px;
  padding: 10px;
  outline: none;
  border-radius: 5px;
}
.contact-form input[type=text],
.contact-form textarea,
.contact-form input[type=submit] {
 @extend %formBase;  
}
.contact-form textarea {
  height: 200px;
  margin-bottom: 30px;
}
.contact-form input[type=submit] {
  width: 200px;
}
.contact-form input[type=text]:focus,
.contact-form textarea:focus {
  box-shadow: 0 0 10px #70bdd3 inset;
}
.contact-form input[type=submit]:hover {
  opacity: 0.5;
}
// ==================================
//  scroll
// ==================================
.back-to-top {
    background-color: rgb(240, 240, 240);
    border-width: 0;
    cursor: pointer;
    display: block;
    padding: 16px;
    margin: 0 auto;
    border-radius: 50%;
    outline: none;
}
.back-to-top:hover {
    box-shadow: 5px 5px 5px rgba(0,0,0,0.20);
    transform: translateY(-4px);
}
.back-to-top .scroll-button {
    display: block;
    height: 18px;
    margin:auto;
    overflow: hidden;
    width: 26px;
}
.back-to-top .scroll-button::before {
    content: url(../img/sprites.png);
    display: inline-block;
    font-size: 0;
    line-height: 0;
    margin-left: -40px;
}
.no-js .back-to-top {
    display: none;
}
// ==================================
//  Footer
// ==================================
.footer {
  text-align: center;
  background-color: lightgray;
  height: 80px;
  line-height: 80px;
  background-color: gray;
  @include mq() {
    // padding: 10px;
    font-size: 1.2rem;
  }
  p {
    margin: 0;
  }
}