// ==================================
// heading
// ==================================
.heading {
  display: inline-block;
  position: relative;
  padding-bottom: 10px;
  margin: 50px 0;
  font-size: 3.0rem;
  letter-spacing: 5px;
  border-bottom: 1px solid black;
  @include mq() {
    padding: 40px 0;
  }
}
.heading::before,
.heading::after {
  position: absolute;
  top: 100%;
  left:50%;
  transform:translateX(-50%);
  content: '';
  border: 10px solid transparent;
}
.heading::before {
  border-top: 10px solid #000;
}
.heading::after {
  margin-top: -1px;
   border-top: 10px solid #fff;
}