/* ==================================
* footer
*=================================== */
.footer {
  text-align: center;
  background-color: lightgray;
  height: 80px;
  line-height: 80px;
  background-color: gray;
  @include mq() {
    // padding: 10px;
    font-size: 1.2rem;
  }
  p {
    margin: 0;
  }
}