/* ==================================
* global_nav
*=================================== */
#global-nav {
  width: 100%;
  @include tb() {
    display: none;
  }
  &.m_fixed {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255,255,100,0.7);
  }
  .global {
    &-list {
      display: flex;
      justify-content: space-around;
    }
    &-item {
      & a {
        font-size: 1.2em;
        line-height: 50px;
        display: block;
        color: #000;
        transition: 0.2s;
      }
      & a:hover {
        opacity: 0.5;
        border-bottom:2px dotted #000 ;
      }
    }
  }
}
// navigation drawer
#nav-drawer {
  position: fixed;
  top: 25px;
  left: 10px;
}
/*チェックボックス等は非表示に*/
.nav-unshown {
  display:none;
}
/*アイコンのスペース*/
#nav-open {
  display: inline-block;
  width: 30px;
  height: 22px;
  vertical-align: middle;
  // 769px 以上は隠す
  @media screen and(min-width:769px) {
    display: none;
  }
}
/*ハンバーガーアイコンをCSSだけで表現*/
#nav-open span, #nav-open span:before, #nav-open span:after {
  position: absolute;
  height: 3px;/*線の太さ*/
  width: 25px;/*長さ*/
  border-radius: 3px;
  background: #555;
  display: block;
  content: '';
  cursor: pointer;
}
#nav-open span:before {
  bottom: -8px;
}
#nav-open span:after {
  bottom: -16px;
}
/*閉じる用の薄黒カバー*/
#nav-close {
  display: none;/*はじめは隠しておく*/
  position: fixed;
  z-index: 99;
  top: 0;/*全体に広がるように*/
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0;
  transition: .3s ease-in-out;
}
/*中身*/
#nav-content {
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;/*最前面に*/
  width: 90%;/*右側に隙間を作る（閉じるカバーを表示）*/
  max-width: 220px;/*最大幅（調整してください）*/
  height: 100%;
  background: #fff;/*背景色*/
  transition: .3s ease-in-out;/*滑らかに表示*/
  -webkit-transform: translateX(-105%);
  transform: translateX(-105%);/*左に隠しておく*/
}
/*チェックが入ったらもろもろ表示*/
#nav-input:checked ~ #nav-close {
  display: block;/*カバーを表示*/
  opacity: .5;
}
#nav-input:checked ~ #nav-content {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);/*中身を表示（右へスライド）*/
  box-shadow: 6px 0 25px rgba(0,0,0,.15);
}

#nav-content {
  display: table;

  .nav {
    &-list {
    display: table-cell;
    vertical-align: middle;
    }
    &-item {

      & a {
        line-height: 50px;
        display: block;
        color: #000;
      }
      & a:hover {
        opacity: 0.5;
      }
    }
  }
}