/* ==================================
* header
*=================================== */
.header {
  height: 150px;
  @include tb {

  }
}
// site_logo
.logo {
  padding: 40px 0 20px;
  @include tb() {
    display: none;
  }
}
.logo a{
  color: #000;
  font-size: 2em;
}
.logo a:hover{
  opacity: 0.5; 
}