
/* --------------------------------
*  reset用
* -------------------------------- */
@import "~normalize.css";
// @import "~reset.css";
/* --------------------------------
*  setting・・・変数を格納
* -------------------------------- */
@import "./scss/setting/**";

/* --------------------------------
*  mixin・・・アニメーションやmixinや関数を格納
* -------------------------------- */
@import "./scss/mixin/**";


/* --------------------------------
*  base・・・リセットCSSや要素の基本となるCSSを格納
* -------------------------------- */
@import "./scss/base/**";

/* --------------------------------
*  module・・・使い回しできるモジュール的なCSSを格納
* -------------------------------- */
@import "./scss/module/**";

/* --------------------------------
*  page・・・ページごとに必要なCSSを格納
* -------------------------------- */
// @import "./scss/page/**";
@import "./scss/page/_main.scss";
@import "./scss/page/_contact.scss";
@import "./scss/page/_about.scss";
@import "./scss/page/_diary.scss";

